# General
.DS_Store
.idea/
Thumbs.db

# Build and temp directories
.build/
temp/*

# Ignore temporary files from dirstributions
distributions/debian/.debhelper
distributions/debian/bpm
distributions/debian/files

# Other package formats...
yarn.lock
package-lock.json
/node_modules

# Tests
tests/_output/*

# Ignore internal todo-list
.todo.md
